<div  class="card shadow-sm border-0 rounded-3" style="width: 20rem;">
  <div class="card-body text-center">
    <h5 class="card-title fw-bold text-primary">{{train?.name}}</h5>
    <p class="card-text text-muted mb-2">დღე: {{train?.date}}</p>
    <p class="card-text text-muted mb-2">ჩასვლა: {{train?.departure}}</p>
    <p class="card-text text-muted mb-2">ჩამოსვა: {{train?.arrive}}</p>
    <a class="btn btn-outline-primary w-100"
      routerLink="/vagons/{{train?.id}}"
      >{{buyMsg}}</a>
  </div>
</div>

